<div class="row" hidden>
    <div class="ad-title-row">
        <p class="mb-0 font-responsive">
            Nossos parceiros:
        </p>
    </div>
    <div class="col-12 homeps-row-ad-content">
        <!-- <div title="Doutor Finanças" class="homeps-row-ad homeps-row-ad-1" style="background-image: url('/assets/homeps/doutorFinancas.png');">
        </div> -->
        <!-- <div title="Contabilizei" class="homeps-row-ad homeps-row-ad-2" style="background-image: url('/assets/homeps/contabilizei.png');">
        </div> -->
        <div title="MediCcont" class="homeps-row-ad homeps-row-ad-3" style="background-image: url('/assets/homeps/mediccont.png');" (click)="navigateAd('https://mediccont.com.br/')">
        </div>
        <div title="Saúde Trevo" class="homeps-row-ad homeps-row-ad-3" style="background-image: url('/assets/homeps/saudeTrevo.png');" (click)="navigateAd('https://landingpage.clina.care/clina')">
        </div>
        <div title="Afya Whitebook" class="homeps-row-ad homeps-row-ad-3" style="background-image: url('/assets/homeps/afyawhitebook.png');" (click)="navigateAd('https://whitebook.pebmed.com.br/')">
        </div>
        <!-- <div title="Artmed" class="homeps-row-ad homeps-row-ad-4" style="background-image: url('/assets/homeps/artmed.png');">
        </div> -->
        <div title="Rio Claro Investimentos" class="homeps-row-ad homeps-row-ad-5" style="background-image: url('/assets/homeps/rioClaroInvestimentos.png');" (click)="navigateAd('https://rioclaro.com.br/clina-care/')">
        </div>
        <div title="Futuro Consultoria" class="homeps-row-ad homeps-row-ad-6" style="background-image: url('/assets/homeps/futuroConsultoria.png');" (click)="navigateAd('https://consultoriafuturo.com.br/clina-care-e-futuro-consultoria-financeira/')">
        </div>
    </div>
</div>